body {
    background: linear-gradient(90deg,#06C,#0C6);
    color: #FDFFFF;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}
button {
    padding: 5px 20px;
    background-color: #337AB7;
    border-style: none;
    color: #FDFFFF;
}
input {
    height: 25px;
}
